*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121C3B;
}

.form{
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 25px 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}