*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
}

/* .dashboard-view 
{
    margin-left: 330px;
    position: relative;
} */

a{
    text-decoration: none;
    
}
h2{
    color: #999;
}
li{
    list-style: none;
}
.titles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}
.table{
    padding: 10px;
}
th{
    text-align: left;
    padding: 8px;
}
.btn{
    background: green;
    color: white;
    padding:5px 10px;
    text-align: center;
}
.btn:hover{
    background: #121C3B;
    color: white;
    cursor: pointer;
}
.side-manu{
    position:fixed;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #121C3B;
}
.side-manu .side-logo{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .side-manu .side-logo img{
    height: 100px;
} */

.side-manu li{
    font-size: 24px;
    padding:10px 40px;
    color:white;
    display: flex;
    align-items: center;
}
.side-manu li:hover{
    background:white;
    color:rgb(54, 50, 50);
    cursor: pointer;
}
.side-manu li img{
    height: 30px;
    margin-right: 10px;
}

/* .search img{
    height: 20px;
    margin-right: 10px;
} */
.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh; 
    background: #f1f1f1;
}

.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}
.container .header .nav .search{
    flex: 3;
    display: flex;
    justify-content: center;
}
.container .header .nav .search input[type=text]{
    border: none;
    background: rgb(219, 216, 216);
    padding: 10px;
    width: 50%;
}
.container .header .nav .search button{
    /* width: 40%;
    height: 40px; */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .header .nav .search button img{
    width: 30px;
    height: 30px;
}
.container .header .nav .user{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .header .nav .user img{
    width: 40px;
    height: 40px;
}
.container .header .nav .user .img-case{
    position: relative;
    width: 50px;
    height: 50px;
}
.container .header .nav .user .img-case img{
    position: absolute;
    top: o;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .content{
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
}
.container .content .cards{
    display: flex;
    padding: 20px 15px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .content .cards .card{
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.container .content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.container .content .content-2 .senders{
    min-height: 50vh;
    flex: 5;
    background: white;
    margin : 0 25px 25px 25px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;

}
.container .content .content-2 .recipients{
    min-height: 50vh;
    flex: 2;
    background: white;
    margin : 0 25px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}