{% extends 'base.html' %} 
{% block title %} Add Recipient {% endblock %} 
{% block content %}

<div class="form-body">
    <h1>Create new Recipient</h1>
    <form class="form" action="#" method="POST">
        <input type="text" placeholder="Recipient first name" name="first_name" />
        <input type="text" placeholder="Recipient last name" name="last_name" />
        <input type="email" placeholder="Recipient email" name="email" />
        <input type="tel" placeholder="Recipient phone numbere" name="phone_number" />
        <input type="text" placeholder="Enter street address" name="street_address" />
        <input type="text" placeholder="Enter city" name="city" />
        <input type="text" placeholder="Enter state" name="state" />
        <input type="text" placeholder="Enter zip code" name="zip_code" />
        <input type="text" placeholder="Enter country" name="country" />
        <button type="submit">Add Recipient</button>
    </form>
</div>

{% endblock %}