{% extends 'base.html' %} 
{% block title %} Add Package {% endblock %} 
{% block content %}




<form action="#" method="POST">
    <input type="hidden" name="id">
    <select name="sender_id">
        <option value="">Select Sender</option>
        {% for sender in senders %}
            <option value="{{ sender['id'] }}">{{ sender['first_name'] }} {{ sender['last_name'] }}</option>
        {% endfor %}
    </select>
    <select name="recipient_id">
        <option value="">Select Recipient</option>
        {% for recipient in recipients %}
            <option value="{{ recipient['id'] }}">{{ recipient['first_name'] }} {{ recipient['last_name'] }}</option>
        {% endfor %}
    </select>
    <input type="text" placeholder="Package weight" name="weight" />
    <input type="text" placeholder="Package height" name="height" />
    <input type="text" placeholder="Package width" name="width" />
    <input type="text" placeholder="Package length" name="length" />
    <input type="text" placeholder="Shipping Carrier" name="shipping_carrier">
    <input type="text" placeholder="Shipping Class" name="shipping_class">
    <input type="date" placeholder="Shipping Date" name="shipping_date">
    <input type="date" placeholder="Delivery Date" name="delivery_date">
    <input type="text" placeholder="Tracking Number" name="tracking_number">
    <input type="text" placeholder="Shipping Cost" name="shipping_cost">
    <button type="submit">Add Package</button>
</form>


{% endblock %}