<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Dashboard</title>
    </style>
  </head>
  <body>
    <header class="logo">
         <h1>Dashboard</h1>
    </header>
  <nav>
      <ul>
        <img src="../asset/images/logo.png" alt="Company Logo" />
        <li><a href="">Sender</a></li>
        <li><a href="">Recipient</a></li>
        <li><a href="">Packages</a></li>
        <button>Logout</button>
      </ul>
    </nav>
  </body>
</html>
