{% extends 'base.html' %} 
{% block title %} Dashboard {% endblock %} 
{% block content %}

<!-- <div class="dashboard-view">
  <h1>This is the dashboard</h1>
</div> -->
    <div class="cards">
      <div class="card">
        <div class="box">
          <h1>7453</h1>
          <h2>Senders</h2>
        </div>
        <div class="icon-case">
          <img src="../static/asset/images/sender.png" alt="" />
        </div>
      </div>
      <div class="card">
        <div class="box">
          <h1>2194</h1>
          <h2>Receivers</h2>
        </div>
        <div class="icon-case">
          <img src="../static/asset/images/receiver.png" alt="" />
        </div>
      </div>
      <div class="card">
        <div class="box">
          <h1>8994</h1>
          <h2>Packages</h2>
        </div>
        <div class="icon-case">
          <img src="../static/asset/images/package.png" alt="" />
        </div>
      </div>
      <div class="card">
        <div class="box">
          <h1>374990009</h1>
          <h2>Income</h2>
        </div>
        <div class="icon-case">
          <img src="../static/asset/images/income.png" alt="" />
        </div>
      </div>
    </div>
    <div class="content-2">
      <div class="senders">
        <div class="title">
          <h2>Information Box</h2>
          <a href="#" class="btn">View All</a>
        </div>
        <div class="table">
          <table>
            <tr>
              <th>Sender</th>
              <th>Recipient</th>
              <th>Tracking</th>
              <th>Date</th>
            </tr>
            <tr>
              <td>John Doe</td>
              <td>Emmanuel Allotey</td>
              <td>785456709</td>
              <td><a href="#" class="btn">View</a></td>
            </tr>
            <tr>
              <td>John Doe</td>
              <td>Emmanuel Allotey</td>
              <td>785456709</td>
              <td><a href="#" class="btn">View</a></td>
            </tr>
            <tr>
              <td>John Doe</td>
              <td>Emmanuel Allotey</td>
              <td>785456709</td>
              <td><a href="#" class="btn">View</a></td>
            </tr>
            <tr>
              <td>John Doe</td>
              <td>Emmanuel Allotey</td>
              <td>785456709</td>
              <td><a href="#" class="btn">View</a></td>
            </tr>
            <tr>
              <td>John Doe</td>
              <td>Emmanuel Allotey</td>
              <td>785456709</td>
              <td><a href="#" class="btn">View</a></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="recipients">
        <div class="title">
          <h2>Information Box</h2>
          <a href="#" class="btn">View All</a>
        </div>
        <table>
          <tr>
            <th>Profile</th>
            <th>Name</th>
            <th>Tracking</th>
            <th>Date</th>
          </tr>
          <tr>
            <td>
              <div class="img-case">
                <img src="../static/asset/images/user.png" alt="" />
              </div>
            </td>
            <td>John Doe</td>
            <td>785456709</td>
            <td><a href="#" class="btn">View</a></td>
          </tr>
          <tr>
            <td>
              <div class="img-case">
                <img src="../static/asset/images/user.png" alt="" />
              </div>
            </td>
            <td>John Doe</td>
            <td>785456709</td>
            <td><a href="#" class="btn">View</a></td>
          </tr>
          <tr>
            <td>
              <div class="img-case">
                <img src="../static/asset/images/user.png" alt="" />
              </div>
            </td>
            <td>John Doe</td>
            <td>785456709</td>
            <td><a href="#" class="btn">View</a></td>
          </tr>
          <tr>
            <td>
              <div class="img-case">
                <img src="../static/asset/images/user.png" alt="" />
              </div>
            </td>
            <td>John Doe</td>
            <td>785456709</td>
            <td><a href="#" class="btn">View</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
