<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https//unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="../static/css/recipient.css">
    <title>Document</title>
</head>
<body> -->
{% extends 'base.html' %} 
{% block title %} Recipient {% endblock %} 
{% block content %}
    
<style>
    #subheader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;
        height: 50px;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
    }
    

</style>
    <div>
            <div id="subheader">
                <p>List of all Recipients</p>
                <a class="btn" href="{{ url_for('recipient')}}">
                    Add Recipient
                </a>
            </div>
        <div class="table-content">
        <table>
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>Street address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip code</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                {% for recipient in recipients %}
                    <tr>
                        <td>{{recipient['first_name'] }}</td>
                        <td>{{recipient['last_name'] }}</td>
                        <td>{{recipient['email'] }}</td>
                        <td>{{recipient['phone_number'] }}</td>
                        <td>{{recipient['street_address'] }}</td>
                        <td>{{recipient['city'] }}</td>
                        <td>{{recipient['state'] }}</td>
                        <td>{{recipient['zip_code'] }}</td>
                        <td>{{recipient['country'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
<!-- </body>
</html> -->
