{% extends 'base.html' %} 
{% block title %} Upate Package Status {% endblock %} 
{% block content %}

<style>
    body{
        background-color: rgba(0, 0, 0, 0.1)
    }
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        /* min-height: 90vh; */
    }

    .form {
        width: 500px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    .form h1 {
        color: #2f55d4;
        text-align: center;
        margin-bottom: 20px;
    }

    .form input, select {
        width: 100%;
        height: 40px;
        padding: 10px;
        margin-bottom: 10px;
        font-size: large;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .form button {
        background-color: #2f55d4;
        color: #fff;
        border: none;
        height: 40px;
        font-size: large;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 460px;
    }

    .form button:hover {
        background-color: #1e40af;
    }
</style>

<div class="form-container">
    <div class="form">
<form action="#" method="POST">
    <input type="text" placeholder="Status" name="shipping_status" />
    <input type="date" placeholder="Delivery Date" name="shipping_date">
    <button class="btn btn-large" type="submit">Update Status</button>
</form>
</div>
</div>

{% endblock %}